services:
  cs-1:
    image: cassandra:latest
    container_name: cs-1
    environment:
      - CASSANDRA_CLUSTER_NAME=cs_cluster
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=DC1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    ports:
      - "9042:9042"
    networks:
      - cs-net
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 30s
      timeout: 30s
      retries: 10

  cs-2:
    image: cassandra:latest
    container_name: cs-2
    environment:
      - CASSANDRA_CLUSTER_NAME=cs_cluster
      - CASSANDRA_SEEDS=cs-1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=DC1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    networks:
      - cs-net
    depends_on:
      cs-1:
        condition: service_healthy

  cs-3:
    image: cassandra:latest
    container_name: cs-3
    environment:
      - CASSANDRA_CLUSTER_NAME=cs_cluster
      - CASSANDRA_SEEDS=cs-1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=DC1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    networks:
      - cs-net
    depends_on:
      cs-1:
        condition: service_healthy

networks:
  cs-net:
    driver: bridge
